/* Form container */
.feedback-form {
  max-width: 350px;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
}

/* Labels */
.feedback-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #2e2f42;
}

/* Inputs */
.feedback-form input[type='email'],
.feedback-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc; /* Light border */
  border-radius: 5px; /* Slightly rounded corners */
  background-color: #fff; /* White background */
  color: #333; /* Dark gray text color */
  resize: none;
}

/* Textarea */
.feedback-form textarea {
  height: 80px;
  width: 360px;
}

/* Submit button */
.feedback-form button[type='submit'] {
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-form button[type='submit']:hover {
  background-color: #6c8cff;
}
